@inherits LayoutComponentBase

<FluentLayout>
	<FluentDialogProvider />
	<FluentMessageBarProvider />
	<FluentToastProvider />
	<FluentTooltipProvider />
	<FluentStack Orientation="Orientation.Horizontal"
				 VerticalAlignment="VerticalAlignment.Center"
				 HorizontalAlignment="HorizontalAlignment.Center"
				 Width="100%"
				 Style="height:100%">
		<div>
			@Body
		</div>
	</FluentStack>
</FluentLayout>

<div id="blazor-error-ui" data-nosnippet>
	An unhandled error has occurred.
	<a href="." class="reload">Reload</a>
	<span class="dismiss">🗙</span>
</div>
