@inherits LayoutComponentBase

<FluentLayout>
	<FluentDialogProvider />
	<FluentMessageBarProvider />
	<FluentToastProvider />
	<FluentTooltipProvider />
	<FluentStack Orientation="Orientation.Horizontal"
				 VerticalAlignment="VerticalAlignment.Center"
				 HorizontalAlignment="HorizontalAlignment.Center"
				 Width="100%">
		<div class="content">
			@Body
		</div>
	</FluentStack>
</FluentLayout>
