@page "/verify-change-password/{Email}"
@layout AuthLayout
@inject NavigationManager Navigation
@inject IDialogService DialogService
@inject IHttpClientFactory httpClientFactory
@code {
	[Parameter] public string Email { get; set; }
	private HttpClient _httpClient;
	private ViewModel viewModel = new();
	private VerifyChangePasswordDto verifyChangePasswordrModel = new();

	internal class ViewModel
	{
		public bool ProgressRingVisible { get; set; } = false;
	}

	protected override void OnInitialized()
	{
		base.OnInitialized();

		_httpClient = httpClientFactory.CreateClient("AuthService");
		verifyChangePasswordrModel.UserEmail = Email;
	}
}

<PageTitle>更改密码</PageTitle>

<FluentCard Style="padding:60px">
	<FluentLabel Typo="Typography.H1" Style="padding-bottom:10px">更改密码</FluentLabel>

	<FluentEditForm Model="verifyChangePasswordrModel" OnValidSubmit="HandleVerifyChangePassword">
		<DataAnnotationsValidator />
		<FluentStack Orientation="Orientation.Vertical">
			<div>
				<FluentTextField @bind-Value="verifyChangePasswordrModel.UserEmail" Label="邮箱" Disabled=true></FluentTextField>
			</div>
			<div>
				<FluentTextField @bind-Value="verifyChangePasswordrModel.NewPassword" Label="新密码" TextFieldType="TextFieldType.Password"></FluentTextField>
				<FluentValidationMessage For="() => verifyChangePasswordrModel.NewPassword" />
			</div>
			<div>
				<FluentTextField @bind-Value="verifyChangePasswordrModel.VerificationCode" Label="验证码"></FluentTextField>
				<FluentValidationMessage For="() => verifyChangePasswordrModel.VerificationCode" />
			</div>
			<FluentStack Orientation="Orientation.Horizontal" Style="padding-top:10px">
				<FluentButton Type="ButtonType.Button" Appearance="Appearance.Outline" @onclick="GoBackChangePassword">返回</FluentButton>
				<FluentSpacer></FluentSpacer>
				<FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">确认更改</FluentButton>
			</FluentStack>
		</FluentStack>
	</FluentEditForm>
</FluentCard>

<FluentOverlay @bind-Visible=viewModel.ProgressRingVisible
			   Dismissable="false"
			   FullScreen="true"
			   Opacity="0.4">
	<FluentProgressRing Width="128px" />
</FluentOverlay>

@code {
	private void GoBackChangePassword()
	{
		Navigation.NavigateTo($"/change-password/{verifyChangePasswordrModel.UserEmail}");
	}

	private async Task HandleVerifyChangePassword()
	{
		// 显示加载动画
		viewModel.ProgressRingVisible = true;

		// 发送更改密码请求
		var response = await _httpClient.PostAsJsonAsync("/api/auth/verify-change-password", verifyChangePasswordrModel);

		// 获取响应内容
		var responseText = await response.Content.ReadAsStringAsync();

		// 关闭加载动画
		viewModel.ProgressRingVisible = false;
		StateHasChanged();

		if (response.IsSuccessStatusCode)
		{
			// 更改密码成功
			// 显示成功信息并跳转到登录页面
			var dialog = await DialogService.ShowSuccessAsync(responseText);
			await dialog.Result;
			Navigation.NavigateTo("/login");
		}
		else
		{
			// 更改密码失败
			await DialogService.ShowErrorAsync(responseText);
		}
	}
}